@tailwind base;
@tailwind components;
@tailwind utilities;

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", system-ui;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}
